
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Not found</title>
</head>
<body>
	<div class="error">
		Page not found
	</div>
</body>
</html>

<style media="screen">
	html {
		height: 90%;
	}
	body {
		height: 100%;
		background-color: #34495e;
		color: #ecf0f1;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		font-size: 90px;
	}

</style>
